.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link_style {
  padding: 1%;
  margin: auto;
  width: 600px
}

.center {
  padding-bottom: 20px; 
  text-align: center
}

.form_style {
  padding: 1%;
  border: solid green;
  margin: auto;
  width: 600px;
}

.right {
  display: inline; 
  text-align: right;
  font-family: Georgia, serif
}

.left {
  display: inline;
  text-align: left;
  font-family: serif
}